{{#vendorExtensions.x-stream-is-ws-call-event}}
sealed interface WSCallEvent {}
{{/vendorExtensions.x-stream-is-ws-call-event}}
{{#vendorExtensions.x-stream-is-ws-client-event}}
sealed interface WSClientEvent {}
{{/vendorExtensions.x-stream-is-ws-client-event}}